/* BASIC STYLES HERE */
.hide{
  display: none;
}

.myQuote:hover + .hide{
  display: block;
  color: red; 
}

body{
  min-height: 100vh;
  display: flex;
  
  background-position: center;
  background-size: cover;
  /* backdrop-filter: blur(2px); */
}

.digital-clock{
  position:absolute;
  width: 400px;
  height: 500px;
  color: #ffffff;
  border: 2px solid #999;
  border-radius: 5px;
  text-align: center;
}