/* BASIC STYLES HERE */
.hide{
  display: none;
}

.myQuote:hover + .hide{
  display: block;
  color: red; 
}

body{
  min-height: 100vh;
  display: flex;
  
  background-position: center;
  background-size: cover;
  /* backdrop-filter: blur(2px); */
}

#time{
  font-size: 100px;
  color: #ffffff;
  border: 2px solid #999;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#weather{
  position: absolute;
  top: 0;
  right: 0;
}

#footer{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}